* {
  color-scheme: light dark;
}

html {
  touch-action: pan-y;
}

body {
  max-width: 1000px;
}

button.red {
  background: hsl(0, 100%, 60%);
}

button.red:hover {
  background: hsl(0, 100%, 40%);
}

input[type="text"],
input[type="number"],
input[type="date"] {
  width: 160px;
}

.editable:hover {
  background: rgba(127, 127, 127, 0.1);
  cursor: pointer;
}

.table-wrap {
  margin-bottom: 1rem;
  overflow-x: auto;
}

.table-wrap table {
  margin-bottom: 0;
  table-layout: fixed;
  width: 100%;
}

.table-wrap * {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.name-col {
  text-align: left;
  width: 12ch;
}

.hours-col {
  text-align: center;
  width: 5ch;
}

.day-col {
  text-align: center;
  width: 4ch;
}

.day-col:not(:last-of-type) {
  border-right: none;
}

.day-col:not(:first-of-type) {
  border-left: none;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}
