* {
  color-scheme: light dark;
}

html {
  touch-action: pan-y;
}

body {
  max-width: 1000px;
}

:is(h1, h2, h3) {
  border: none;
}

button.red {
  background: hsl(0, 100%, 60%);
}

button.red:hover {
  background: hsl(0, 100%, 40%);
}

button.green {
  background: hsl(128, 100%, 30%);
}

button.green:hover {
  background: hsl(128, 100%, 20%);
}

.table-wrap {
  margin-bottom: 1rem;
  overflow-x: auto;
}

.table-wrap table {
  margin-bottom: 0;
  table-layout: fixed;
  width: 100%;
}

.table-wrap :is(tr, td) {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.table-wrap .name-col {
  text-align: left;
  width: 15ch;
}

.table-wrap .hours-col {
  text-align: center;
  width: 6ch;
}

.table-wrap .day-col {
  text-align: center;
  width: 7ch;
}

.table-wrap .day-col:not(:last-of-type) {
  border-right: none;
}

.table-wrap .day-col:not(:first-of-type) {
  border-left: none;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}
