* {
  color-scheme: light dark;
}

html {
  touch-action: pan-y;
}

body {
  max-width: 1000px;
}

button.red {
  background: hsl(0, 100%, 60%);
}

button.red:hover {
  background: hsl(0, 100%, 40%);
}

input[type="text"],
input[type="number"],
input[type="date"] {
  width: 160px;
}

.editable:hover {
  background: rgba(127, 127, 127, 0.1);
  cursor: pointer;
}

.overflow-wide {
  overflow-x: auto;
  white-space: nowrap;
}

table {
  table-layout: fixed;
  width: 100%;
}

table, table * {
  overflow: hidden;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.name-col {
  text-align: left;
  width: 8em;
}

.hours-col {
  width: 3em;
}

.day-col {
  width: 3em;
}

.day-col:not(:last-of-type) {
  border-right: none;
}

.day-col:not(:first-of-type) {
  border-left: none;
}
