* {
  box-sizing: border-box;
  color-scheme: light dark;
  font-family: sans-serif;
}

html {
  touch-action: pan-y;
}

body {
  margin: auto;
  max-width: 1000px;
  padding: 1rem;
}

.table-wrap {
  overflow-x: auto;
  padding: 4px 0;
}

.table-wrap table {
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
}

.table-wrap thead {
  border-bottom: 1px solid;
}

.table-wrap th,
.table-wrap td {
  overflow: hidden;
  padding: 4px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.table-wrap .name-col {
  border-right: 1px solid;
  text-align: left;
  width: 140px;
}

.table-wrap .hours-col {
  border-right: 1px solid;
  text-align: center;
  width: 7ch;
}

.table-wrap .day-col {
  text-align: center;
  width: 8ch;
}
