* {
  box-sizing: border-box;
  color-scheme: dark light;
  font-family: sans-serif;
}

body {
  margin: auto;
  max-width: 1000px;
  padding: 1rem;
}

.table-wrap {
  overflow-x: auto;
}

.table-wrap table {
  table-layout: fixed;
  width: 100%;
}

.table-wrap th, .table-wrap td {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.name-col {
  width: 140px;
}

.hours-col {
  width: min-content;
}

.day-col {
  width: 8ch;
}
